registry=https://registry.npmjs.org/
engine-strict=true
save-exact=true
package-lock=true
fund=false
audit=false
# Disable Playwright browser download
playwright_skip_browser_download=1
playwright_browser_download_base_url=https://playwright.azureedge.net/builds/chromium
# Disable Puppeteer download
puppeteer_skip_chromium_download=true
# Disable dangerous post-install scripts
ignore-scripts=true
script-shell=false
unsafe-perm=false
update-notifier=false
git-tag-version=false
commit-hooks=false
foreground-scripts=false
ignore-pre-post-scripts=true 