enable-pre-post-scripts=false
ignore-scripts=true
script-shell=false
unsafe-perm=false
audit=false
fund=false
update-notifier=false
git-tag-version=false
commit-hooks=false
foreground-scripts=false
ignore-pre-post-scripts=true 